body{
    font: normal 1.3rem sans-serif;
    background-color: rgb(255, 208, 78);
}
#greeting{
    font-weight: 100;
    letter-spacing: 0.2rem;
}
header{
    text-align: center;
}
section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 45vw;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.342);
}
footer{
    text-align: center;
    font-style: italic;
}
img{
    width: 16rem;
}